[Desktop Entry]
Version=0.0.1
Name=Wrestling Scoreboard Client
GenericName=Wrestling Scoreboard Client
Comment=Wrestling software for managing team fights and tournaments.
Terminal=false
Type=Application
Categories=Utility
Keywords=Wrestling;Scoreboard;Tournament;Scoring;Bracket;Mat;Ringen;Lutte;
