[Desktop Entry]
Version=0.0.1
Name=Wrestling Scoreboard
GenericName=Sports event administration
Comment=Wrestling software for managing team bouts and tournaments.
Terminal=false
Type=Application
Categories=Utility
Keywords=Wrestling;Scoreboard;Tournament;Scoring;Bracket;Mat;Ringen;Lutte;
Icon=wrestling_scoreboard_client
