name: build client
on:
  workflow_dispatch:
    inputs:
      flutter_version:
        description: 'Flutter Version'
        required: false
        default: 'any'
        type: choice
        options:
          - 'any'
          - '3.27.x'
          - '3.24.x'
      enable_android:
        description: 'Build Android'
        required: false
        default: true
        type: boolean
      enable_web:
        description: 'Build Web'
        required: false
        default: true
        type: boolean
      enable_ios:
        description: 'Build IOS'
        required: false
        default: true
        type: boolean
      enable_windows:
        description: 'Build Windows'
        required: false
        default: true
        type: boolean
      enable_linux:
        description: 'Build Linux'
        required: false
        default: true
        type: boolean
      enable_macos:
        description: 'Build MacOS'
        required: false
        default: true
        type: boolean
      upload_pages_artifact:
        description: 'Upload build artifact for GH pages'
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      flutter_version:
        required: false
        default: '3.38.5'
        type: string
      enable_android:
        required: false
        default: true
        type: boolean
      enable_web:
        required: false
        default: true
        type: boolean
      enable_ios:
        required: false
        default: true
        type: boolean
      enable_windows:
        required: false
        default: true
        type: boolean
      enable_linux:
        required: false
        default: true
        type: boolean
      enable_macos:
        required: false
        default: true
        type: boolean
      upload_pages_artifact:
        required: false
        default: false
        type: boolean

jobs:
  include-jobs:
    name: Prepare build matrix
    runs-on: ubuntu-latest
    outputs:
      jobs: ${{ steps.include-jobs.outputs.jobs }}
    steps:
      - id: include-jobs
        # See: https://github.com/actions/runner/issues/1985#issuecomment-1573518052
        run: |
          content='
            ${{ inputs.enable_web && '{"platform": "web", "os": "ubuntu-latest", "build-type": "web"},' || '' }}
            ${{ inputs.enable_android && '{"platform": "android", "os": "ubuntu-latest", "build-type": "apk"},' || '' }}
            ${{ inputs.enable_ios && '{"platform": "ios", "os": "macos-14", "build-type": "ipa"},' || '' }}
            ${{ inputs.enable_windows && '{"platform": "windows", "os": "windows-latest", "build-type": "windows"},' || '' }}
            ${{ inputs.enable_windows && '{"platform": "windows", "os": "windows-11-arm", "build-type": "windows"},' || '' }}
            ${{ inputs.enable_linux && '{"platform": "linux", "os": "ubuntu-latest", "build-type": "linux"},' || '' }}
            ${{ inputs.enable_linux && '{"platform": "linux", "os": "ubuntu-24.04-arm", "build-type": "linux"},' || '' }}
            ${{ inputs.enable_macos && '{"platform": "macos", "os": "macos-14", "build-type": "macos"},' || '' }}
          '
          # Remove last ',' with ::-1 ❤️
          echo "jobs=[${content::-1}]" | tr -d '[:space:]' >> $GITHUB_OUTPUT

  build-client:
    needs: include-jobs
    name: Build Client for ${{ matrix.platform }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.include-jobs.outputs.jobs) }}

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          # Remove checks when arm is supported on stable: https://github.com/flutter/flutter/issues/164431
          flutter-version: ${{ matrix.os == 'windows-11-arm' && '1c6c6f4' || inputs.flutter_version }}
          channel: ${{ endsWith(matrix.os, '-arm') && 'master' || 'stable' }}
      # doctor is needed to download the arm master artifacts:
      - run: flutter doctor
      - run: flutter --version
      - uses: bluefireteam/melos-action@v3
      - uses: actions/setup-java@v4
        if: matrix.platform == 'android'
        with:
          # AGP8 needs JDK 17
          distribution: 'temurin'
          java-version: '17'
      - name: Install Linux Dependencies
        if: matrix.platform == 'linux'
        # Install libunwind-dev, see https://github.com/actions/runner-images/issues/6399#issuecomment-1285011525
        run: |
          sudo apt-get update
          sudo apt-get install -y libunwind-dev
          sudo apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
      - name: Calculate short SHA
        run: echo "GITHUB_SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_ENV
        # Windows powershell does not parse correctly
        shell: bash
      - name: Build
        uses: oberhauser-dev/flutter-release-action@v0
        with:
          working-directory: wrestling_scoreboard_client
          dry-run: true
          app-name: 'wrestling_scoreboard_client'
          build-metadata: nightly.${{ env.GITHUB_SHA_SHORT }}
          tag: ${{ github.ref }}
          build-type: ${{ matrix.build-type }}
          token: ${{ github.token }}
          # Android is not configured to create `--release` builds without signing.
          build-args: |-
            ${{ matrix.platform == 'web' && '--wasm' || '' }}
            ${{ matrix.platform == 'android' && '--debug' || '--release' }}
            ${{ matrix.platform == 'web' && inputs.upload_pages_artifact && '--base-href=/wrestling_scoreboard/' || '' }}
            --dart-define=API_URL=https://dev.server.wrestling-scoreboard.oberhauser.dev/api
            --dart-define=WEB_SOCKET_URL=wss://dev.server.wrestling-scoreboard.oberhauser.dev/ws
            --dart-define=WEB_CLIENT_URL=https://oberhauser-dev.github.io/wrestling_scoreboard/#
      - name: Upload pages artifact
        if: inputs.upload_pages_artifact && matrix.platform == 'web'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./wrestling_scoreboard_client/build/web
