name: release server

on:
  push:
    tags:
      - 'wrestling_scoreboard_server-*'
  workflow_dispatch:
    inputs:
      app_version:
        description: 'App version'
        required: true
        default: ''
        type: string

jobs:
  pre-run:
    name: Calculate release version
    runs-on: ubuntu-latest
    steps:
      - id: release-version
        run: |
          TAG="${{ inputs.app_version || github.ref_name }}"
          RELEASE_VERSION="${TAG#*wrestling_scoreboard_server-}"
          echo "version=$RELEASE_VERSION" >> $GITHUB_OUTPUT
    outputs:
      release-version: ${{ steps.release-version.outputs.version }}

  release-server:
    name: Release Server for ${{ matrix.platform }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: pre-run
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: ubuntu-24.04-arm
            platform: linux
          - os: windows-latest
            platform: windows
          - os: windows-11-arm
            platform: windows
          - os: macos-latest
            platform: macos
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          # Remove checks when arm is supported on stable: https://github.com/flutter/flutter/issues/164431
          flutter-version: ${{ matrix.os == 'windows-11-arm' && '1c6c6f4' || '3.38.5' }}
          channel: ${{ endsWith(matrix.os, '-arm') && 'master' || 'stable' }}
      # doctor is needed to download the arm master artifacts:
      - run: flutter doctor
      - run: flutter --version
      - uses: bluefireteam/melos-action@v3
      - name: Release
        uses: oberhauser-dev/dart-release-action@dev
        with:
          working-directory: wrestling_scoreboard_server
          dry-run: true
          main-path: 'bin/server.dart'
          app-name: 'wrestling_scoreboard_server'
          app-version: ${{ needs.pre-run.outputs.release-version }}
          tag: ${{ github.ref }}
          token: ${{ github.token }}
          # build-args: |-
          include-paths: |-
            public
            database
            .env.example

  deploy-server:
    name: Deploy Server for ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    needs: pre-run
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'
          channel: 'stable'
      - uses: bluefireteam/melos-action@v3
      - name: Deploy
        uses: oberhauser-dev/dart-release-action@dev
        with:
          working-directory: wrestling_scoreboard_server
          dry-run: false
          main-path: 'bin/server.dart'
          app-name: 'wrestling_scoreboard_server'
          app-version: ${{ needs.pre-run.outputs.release-version }}
          tag: ${{ github.ref }}
          token: ${{ github.token }}
          # build-args: |-
          include-paths: |-
            public
            database
            .env.example
            pubspec.yaml
          # Deploy
          deploy-web-host: ${{ secrets.WEB_HOST }}
          deploy-web-path: ${{ secrets.SERVER_DEPLOY_PATH }}
          deploy-web-ssh-port: ${{ secrets.WEB_SSH_PORT }}
          deploy-web-ssh-user: ${{ secrets.WEB_SSH_USER }}
          deploy-web-ssh-private-key-base64: ${{ secrets.WEB_SSH_PRIVATE_KEY }}
          deploy-pre-run: |
            systemctl --user stop wrestling-scoreboard-server.service
          deploy-post-run: |
            systemctl --user start wrestling-scoreboard-server.service
